@CHARSET "UTF-8";

body {
	font-family: "Capriola", "Helvetica Neue", "Helvetica", Helvetica, Arial,
		sans-serif;
}

h1,h2,h3,h4 {
	font-family: 'Medula One', cursive;
	font-weight: normal;
}

.banner_img {
	max-width: 100%
}

.column-style {
	margin: 0 !important;
	padding: 0 !important;
}

.website-logo {
	color: #EF6D44;
}

.website-header {
	background-color: #EF6D44;
	color: #FFFFFF;
	padding: 10px;
}

.website-quote {
	background-color: #BFAF80;
	font-size: 15px;
	color: #000000;
	padding: 10px;
}

.website-schedule {
	background-color: #8C6954;
	color: #000000;
	padding: 10px 10px 0px 10px;
}

.website-cnight {
	background-color: #8C6954;
	color: #000000;
	padding: 0px 10px 10px 10px;
}

.website-cweekend {
	background-color: #8C6954;
	color: #000000;
	padding: 0px 10px 10px 10px;
}

.website-league {
	background-color: #F2EEB3;
	color: #000000;
	padding: 10px 10px 0px 10px;
}

.website-hof {
	background-color: #F2EEB3;
	color: #000000;
	font-size: 12px;
}

.website-scoreboard {
	background-color: #F2EEB3;
	color: #000000;
	font-size: 12px;
}

.website-contactus {
	background-image: url("../images/pattern.png");
	background-repeat: repeat;
	color: #000000;
}

.website-whoweare {
	background-color: #59323C;
	color: #FFFFFF;
	padding: 0px 15px 10px 15px;
}

.website-letusknow {
	background-color: #28B78D;
	color: #000000;
	padding: 0px 15px 10px 15px;
}

.contactus-fields-error {
	font-size: 10px;
	color: #FF0000;
	margin: 0px -15px 5px -15px;
}

.contactus-field-elements {
	margin: 0px -15px 5px -15px;
}

.contactus-fields-success {
	font-size: 12px;
	color: #FFFFFF;
}

.contactus-fields sup {
	font-size: 10px;
	color: #FF0000;
}

.website-aboutus-image {
	padding: 10px 0px 10px 0px;
}

.website-aboutus-name {
	padding: 5px 0px 5px 0px;
}

.website-footer {
	background-color: #EF6D44;
	font-size: 10px;
	color: #FFFFFF;
	padding: 10px 10px 0px 10px;
}

.website-google-maps {
	position: relative;
	padding-bottom: 50%;
	overflow: hidden;
}

.website-google-maps iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100% !important;
	height: 100% !important;
}